<html>
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <script src="/javascripts/script.js"></script>
</head>
<body style="background-color: #f2f2f2">
    <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12" style="margin-top: 15px">
        <center class="box box-success">
			<h1>Open Source Sub-Project</h1>
			<h4>Microsoft &reg; Video/Face APIs Application</h4>
			<hr>
            <div class="btn-group">
				<a class="btn btn-info btn-lg" href="/student-list">Student List</a>
				<a class="btn btn-primary btn-lg" href="/video-api/upload">Video Library & Upload Tools</a>
				<a class="btn btn-info btn-lg" href="/face-api/addPersonFace">Add Face</a>
				<a class="btn btn-primary btn-lg" href="/face-api/comparePersonFace">Compare Faces</a>
			</div>
			<hr>
			<h4>Danang University of Technology - IT Faculty</h4>
			<h2>NodeJS Team</h2>
			<ul class="list-group">
				<a class="list-group-item" target="_blank" href="https://www.facebook.com/profile.php?id=100006352682354">Ngọc Anh - 12T3</a>
				<a class="list-group-item" target="_blank" href="https://www.facebook.com/nguyenbaanh.cntt">Bá Anh - 12T2</a>
				<a class="list-group-item" target="_blank" href="https://www.facebook.com/profile.php?id=100000285700169">Thanh Khuê - 12T1</a>
				<a class="list-group-item" target="_blank" href="https://www.facebook.com/qilyt">Văn Quang - 12T4</a>
				<a class="list-group-item" target="_blank" href="https://www.facebook.com/nathanTran183">Duy Phúc - 12T2</a>
			</ul>
			<pre class="well well-sm">&copy; 2016 - NodeJS Team #1</pre>
        </center>
    </div>
</body>
</html>


