<html>
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <script src="/javascripts/script.js"></script>
</head>
<body style="background-color: #f2f2f2">
    <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12" style="margin-top: 15px">
        <div class="box box-success">
            <form action="/uploadFile" method="post" id="form-upload-file">
                <div class="form-group">
                    <input type="file" class="btn btn-default" id="chooseFile" name="chooseFile">
                </div>
                <input type="submit" class="btn btn-success" value="Submit" id="uploadFile">
                <input type="button" class="btn btn-default" value="Reset" id="reset">
            </form>
        </div>
    </div>
<body>
</html>


