<html>
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body style="background-color: #f2f2f2">
    <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12" style="margin-top: 15px">
        <div class="box box-success">
            <form action="/uploadFile" method="post">
                <input type="file" class="btn btn-default" value="Choose file">
                <input type="submit" class="btn btn-success" value="Submit" id="uploadFile">
            </form>
        </div>
    </div>
<body>
</html>


