<html>
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
</head>
<body style="background-color: #f2f2f2">
    <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12" style="margin-top: 15px">
        <div class="box box-success">
            <h3>STUDENT LIST</h3>
            <table class="table table-hover table-striped" id="studentList">
                <thead>
                    <th>Student ID</th>
                    <th>Student name</th>
                    <th>Status</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
<body>
</html>



