.box.box-success {
    border-top-color: #24B786;
    
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 20px;
}
#uploadFile {
    margin-top: 15px;
}