<!DOCTYPE html>
<html>
<head>
    <title>GetOperation</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
<div id="operationId"></div>
<div><button id="getResult">Get Result</button></div>
<div id="content"></div>

<script type="text/javascript">
    $(function() {
        $.ajax({
            url: "https://api.projectoxford.ai/video/v1.0/trackface",
            beforeSend: function(xhrObj){
                // Request headers
                xhrObj.setRequestHeader("Content-Type","application/json");
                xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","f9c73541ee204d098076cd7bc8f47269");
            },
            type: "POST",
            data: '{"url": "http://techslides.com/demos/sample-videos/small.mp4"}',
            success: function (result,status,xhr) {
                var operationId = JSON.stringify(xhr.getResponseHeader("Operation-Location"));

                var params = {
                    //request params
                };

                operationId = operationId.substring(operationId.lastIndexOf("/") + 1, operationId.length - 1);
                $("#operationId").html("operationId: " + operationId);
              
                $("#getResult").click(function() {
                    $.ajax({
                        url: "https://api.projectoxford.ai/video/v1.0/operations/" + operationId,
                        beforeSend: function(xhrObj){
                            // Request headers
                            xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","f9c73541ee204d098076cd7bc8f47269");    
                        },
                        type: "GET",
                        success: function (result,status,xhr) {
                            $("#content").html(JSON.stringify(result));
                        },
                        error: function (xhr,status,error) {
                            alert("Please wait for 1 minute for resend new request!");
                        }
                    });
                });
            },
            error: function (xhr,status,error) {
                alert("Please wait for 1 minute for resend new request!");
            }
        });
    });
</script>
</body>
</html>