<!DOCTYPE html>
<html>
<head>
    <title>Upload Video File</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Upload</h1>
		<p class="text text-muted">Ocp-Apim-Subscription-Key: <%=subKey%></p>
		<p class="text text-muted">API URL: <%=apiURL%></p>
		<div class="well">
			<h2>Upload Video File</h2>
			<form id="FormFile" class="form form-horizontal" method="post" enctype="multipart/form-data">
				<input type="file" class="form-control" value="Choose a file" accept="video/*">
				<input type="submit" class="btn btn-success" value="Submit">
			</form>
		</div>

		<div class="well">
			<h2>Upload via URL</h2>
			<form id="FormURL" class="form form-horizontal" method="post">
				<input type="text" class="form-control" name="url" id="url" value="http://">
				<input type="submit" class="btn btn-success" value="Submit">
			</form>
		</div>
		
		<div class="well" id="data">
			
		</div>
	</div>
	
<script type="text/javascript">
	$(document).ready(function(){
		$( "#FormFile" ).submit(function( event ) {
			alert( "Still in construction" );
			event.preventDefault();
		});
		
		$( "#FormURL" ).submit(function( event ) {
			alert( "Handler for .submit() URL called." );
			var params = {
				// Request parameters
			};
			$.ajax({
				url: "<%=apiURL%>?" + $.param(params),
				beforeSend: function(xhrObj){
					// Request headers
					xhrObj.setRequestHeader("Content-Type","application/json");
					xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","<%=subKey%>");
				},
				type: "POST",
				// Request body
				data: '{ "url": "'+$('#url').val()+'"}',
			})
			.success(function(data) {
				if (data.status == 'Succeeded') {
					$('data').html('<pre>' +data.processingResult + '</pre>');
				} else {
					alert('Video is being processed. Need some coffee?');
					window.location.replace("/video-api/wait-for-result");
				}
			})
			.fail(function() {
				alert("error");
			});
		});
	});
</script>
</body>
</html>